.founders-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: 360px;
	overflow: hidden;
	padding-bottom: 2em;
}

.founders-orange-box {
	background: #ea7e17;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1em 1em 3em;
	text-align: start;
}

#foundersH2 {
	justify-self: flex-start;
	margin: 0;
	padding-left: 0;
}

.founders-card img {
	box-sizing: border-box;
	max-width: 360px;
	width: 100%;
	padding: 0;
	margin: 0
}

.founders-card{
	padding: 1em
}