.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 370px;
  margin: 0 auto;
}

.logo {
  font-size: 1.25em;
  font-weight: bolder;
}

.phone-number {
  color: #fff;
  font-weight: 400;
}

h2 {
  margin: 0 auto;
  padding: 1em;
  font-weight: 400;
}

hr {
  border-color: black;
  height: 2px;
  margin: 1em 0;
  opacity: 0.2;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(236, 236, 236);
  padding: 1em 1em 2em 1em;
}

footer p,
a {
  margin-top: 1em;
  font-weight: 600;
}

footer a {
  color: #000;
}

.hidden-hr {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2em; */
  }

  .orange-box-container {
    display: flex;
    padding: 0 3em;
  }

  .orange-box {
    align-self: center;
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  hr {
    display: none;
  }

  .hidden-hr {
    display: block;
  }
}
